::-webkit-scrollbar { display: none; }

.nav-link {
    text-decoration: none;
    color: black;
}

.bg-img-1 { background-image: url(./img/bg-1.jpg); }
.bg-img-2 { background-image: url(./img/bg-2.jpg); }
.bg-img-3 { background-image: url(./img/bg-3.jpg); }
.bg-img-4 { background-image: url(./img/bg-4.jpg); }
.id-imgs { width: 400px; height: 650px; border-radius: 16px; }

.card { background-color: white; width: 400px; height: 450px; align-items: center; border-radius: 16px; padding: 32px; cursor: default; border: 1px solid #046cb8; }
.card:hover { transform: scale(1.1); }
.donatImg {
    height: 60px;
    border-radius: 0 16px 16px 0;
}
.card-about {
    border: 1px solid black;
    width: 300px;
    height: 400px;
}
